################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ANNLanding/bin/Release
/ANNLanding/obj/Release
/XnaGeometry/obj/Release
/ANNLanding/ANNLanding.v12.suo
